<section>
    <div class="container-fluid">
        <!--  -->
        <div class="modal fade" id="loadMe" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="loader"></div>
                        <div clas="loader-txt">
                            <p>Đang tải dữ liêu! Vui lòng chờ trong giây lát</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-12 ">
                <div class="row bg-dark">
                    <div class="col-md-12">
                        <div class="row" style="margin-top:20px;margin-bottom:30px;">
                            <div class="col-md-12 text-start">
                                <button ng-click="ShowModalAddType()"
                                    class="btn btn-dark gradient-custom-background">
                                    <i class="fa-solid fa-plus"></i>
                                    Thêm thể loại
                                </button>
                                <button ng-click="GoTONewBook()"
                                    class="btn btn-dark gradient-custom-background">
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                    <i class="fa-sharp fa-solid fa-book-medical"></i>
                                    Thêm sách
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="scroller scroll-custom-y " style="max-height:120vh;overflow-y:auto;">
                                    <table ng-table="tableParamsBook"
                                        class="table table-hover" show-filter="false">
                                        <tbody>
                                            <tr ng-repeat="book in tableDisplayBook" class="table-dark">
                                                <td data-title="'STT'" class="rowTd text-center" style="width:3%;">{{$index+1}}</td>
                                                <td data-title="'Ảnh bìa'" class="rowTd text-center" style="width:8%;">
                                                    <div class="position-relative">
                                                        <img ng-src="data:image/jpeg;base64,{{book.book_image}}"
                                                        ng-show="book.book_image!=undefined&&book.book_image!=null&&book.book_image!=''"
                                                        class="img-fluid" alt="Sample image" style="width:70px;height:100px;">
                                                        <img src="/src/app/assets/images/default.jpg"
                                                        ng-show="book.book_image==undefined||book.book_image==null||book.book_image==''"
                                                        class="img-fluid" alt="Sample image" style="width:70px;height:100px;">
                                                        <span ng-show="book.book_is_new" class="position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger">
                                                            NEW
                                                        </span>
                                                    </div>
                                                </td>
                                                <td data-title="'Tiểu đề'" filter="{book_title:'text'}" sortable="'book_title'" style="width:12%;"
                                                    class="rowTd text-center" style="width:20%;">{{book.book_title}}</td>
                                                <td data-title="'Tác giả'" filter="{book_author:'text'}" sortable="'book_author'" class="rowTd text-center" style="width:15%;">
                                                    {{book.book_author}}</td>
                                                <td data-title="'Thể loại'" filter="{book_type:'text'}" sortable="'book_type'" class="rowTd text-center"
                                                    style="width:8%;">{{book.book_typeo.type_name}}
                                                </td>
                                                <td data-title="'Ngày phát hành'" sortable="'book_release_date'" class="rowTd text-center"
                                                    style="width:12%;">
                                                    {{book.book_release_date}}</td>
                                                <td data-title="'Số trang'" sortable="'book_page_number'" class="rowTd text-end"style="width:10%;">
                                                    <span ng-show="book.book_page_number>0">{{book.book_page_number | number : fractionSize}}</span>
                                                </td>
                                                <td data-title="'Số lượng'" sortable="'book_number'" class="rowTd text-end"style="width:8%;">
                                                    <span ng-show="book.book_number>0">{{book.book_number | number : fractionSize}}</span>
                                                </td>
                                                <td data-title="'Giá'" sortable="'book_price'" class="rowTd text-end"style="width:8%;">
                                                    <span ng-show="book.book_price>0">{{book.book_price | number : fractionSize}}</span>
                                                </td>
                                                <td data-title="'Mô tả'" class="rowTd text-center"style="width:10%;">
                                                    {{book.book_description | limitTo: 15}}{{book.book_description.length > 20 ? '...' : ''}}</td>
                                                <td class="rowId text-center" style="width:8%;">
                                                    <button
                                                        data-placement="top"
                                                        title=""
                                                        onmouseover="$(this).tooltip('show')"
                                                        
                                                        style="padding:0;background-color:transparent;border:none;"
                                                        >
                                                        <span style="color:#189432;cursor: pointer;" ng-show="profile.mem_group=='admin'">
                                                            <i class="fa-solid fa-pen-to-square fa-xl icon-cus"
                                                                ng-click="ShowUpdate(book)"></i>
                                                        </span>
                                                    </button>
                                                    <button
                                                        data-placement="top"
                                                        title=""
                                                        onmouseover="$(this).tooltip('show')"
                                                        style="padding:0;background-color:transparent;border:none;"
                                                        >
                                                        <span style="color:#ff0000;cursor: pointer;" ng-show="profile.mem_group=='admin'">
                                                            <i ng-click="ShowConfirmDeleteBook(book)"
                                                                class="fa fa-rectangle-xmark fa-xl icon-cus"></i>
                                                        </span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="confirm-delete-book">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xâc nhận</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span>Bạn có thực sự muốn xóa</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button ng-click="DeleteBook(BookSelected)" type="submit" class="btn btn-success" data-bs-dismiss="modal">Xâc nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modal-add-type">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm thể loại sách</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="mx-1 mx-md-4" role="form" name="formAddType">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="formAddType1">Tên <span style="color: red;">*</span></label>
                                            <input ng-model="newType.type_name" name="name" type="text" id="formAddType1" class="form-control" required/>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="formAddType2">Ghi chú</label>
                                            <input ng-model="newType.type_note" name="note" type="text" id="formAddType2" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-end mb-4" style="float:right;">
                                        <button ng-click="AddType(newType)" ng-disabled="!formAddType.$valid" type="submit" class="btn btn-success">Thêm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>